<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div id="cont">
        <h1>Welcome</h1>
        <form action="{{ url_for('login') }}" method="get">
            <button class ="my-button" type="submit">Log In</button>
        </form>

        <form action="{{ url_for('signup') }}" method="get">
            <button class ="my-button" type="submit">Sign Up</button>
        </form>

    </div>
</body>
</html>
